{% extends 'base.html' %} {% block styles %}
<style>
  #spinner.htmx-request {
    display: flex !important; /* show spinner during the request */
  }
</style>

{% endblock %} {% block content %}

<div class="text-white max-w-3xl mx-auto bg-zinc-950 p-6 rounded shadow">
  <button
    class="px-4 py-2 bg-blue-600 text-white rounded mb-2"
    hx-post="/extension/youtube-save-playlist"
    hx-ext="json-enc"
    hx-headers='{"Content-Type": "application/json", "X-API-KEY": "{{ token }}"}'
    hx-vals='{"url": "{{ playlist_url }}"}'
    hx-on::after-request="htmx.trigger('#videos-list', 'reload_videos')"
    id="save-btn"
  >
    Save & Reload
  </button>

  <!-- Spinner -->
  <div id="spinner" class="hidden justify-center my-4">
    <div
      class="w-10 h-10 border-4 border-blue-500 border-dashed rounded-full animate-spin"
    ></div>
  </div>

  <div
    id="videos-list"
    hx-get="/extension/youtube-playlist-missing-videos/{{ token }}/{{ playlist_url|urlencode }}"
    hx-trigger="load, reload_videos"
    hx-indicator="#spinner"
    hx-swap="innerHTML"
    hx-on="htmx:beforeRequest: this.innerHTML = ''"
  >
    <!-- Missing videos will be injected here -->
  </div>
</div>

{% endblock %}
